@function vwsm($pixels, $context: $screen-sm-num) {
  @return #{$pixels/$context*100}vw;
}

@function vwxs($pixels, $context: $screen-xs-num) {
  @return #{$pixels/$context*100}vw;
}

@function vwlg($pixels, $context: $screen-lg-num) {
  @return #{$pixels/$context*100}vw;
}

@for $i from 6 to 150 {
	.fontsize-#{$i} {
		font-size: #{$i}px;
		font-size: percentage($i/$font-size-base-num);
	}
	.fontsize-sm-#{$i} {
		@media screen and (max-width: 768px) {
			font-size: #{$i}px;
			font-size: percentage($i/$font-size-base-num);
			font-size: vwsm($i);
		}
	}
}


@mixin keyframes($animationName)
{
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName}  {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}


@function per($pixels, $context: $browser-xs-viewport){
  @return percentage($pixels/$context);
}

@mixin SubItem() {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;	
}

@mixin Item($width, $height, $top, $bottom, $left, $right, $context: $browser-xs-viewport) {
	margin: 0;
	width: per($width, $context);
	height: 0;
	position: absolute;
	padding-top: per($height, $context);

	@if($left != 0) {
		margin-left: per($left, $context);
		left: 0;
		right: 0;
		margin-right: per($right, $context);
		z-index: 2;
	}@else{
		right: 0;
		left: auto;
		margin-right: per($right, $context);
		z-index: 1;
	}
	@if($top != 0) {
		top: 0;
		bottom: 0;
		margin-top: per($top, $context);
		margin-bottom: per($bottom, $context);
	}@else{
		bottom: 0;
		top: auto;
		margin-bottom: per($bottom, $context);
	}
}
.vertical-top{
	&:before{
		height: 100%;
		content:'';
		display: inline-block;
		vertical-align: top;
	}
	>*{
		display: inline-block;
		vertical-align: top;
	}
}

.vertical-middle{
	&:before{
		height: 100%;
		content:'';
		display: inline-block;
		vertical-align: middle;
	}
	>*{
		display: inline-block;
		vertical-align: middle;
	}
}
.vertical-bottom{
	&:before{
		height: 100%;
		content:'';
		display: inline-block;
		vertical-align: bottom;
	}
	>*{
		display: inline-block;
		vertical-align: bottom;
	}
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear {
  clear: both;
}

$font-default-color: #000;
$font-default-hover-color: #333;
$font-white-color: #fff;