.video-background{
	@include SubItem();
	position: fixed;
	z-index: 3;
	transition: height 0.35s linear 0s, opacity 0.55s linear 0s;

	.video-container{
		@include SubItem();
		.video{
			@include SubItem();
			min-height: 100vh;
			transition-duration: 0.25s;
			position: relative;
			.player{
				@include SubItem();
				overflow: hidden;
				iframe{
					@include SubItem();
				}
			}
			.next, .prev{
				// @include Item(207, 45, -22.5, 0, 792, 0, 1024);
				position: absolute;
				width: 207px;
				height: 45px;
				margin-top: -22.5px;
				left: auto;
				right: 42px;
				top: 50%;
				top: 50vh;
				z-index: 4;
				opacity: 0;
				transition: height 0s linear 0.35s, opacity 0.35s linear 0s;
				a,img{
					@include SubItem();
					height: auto;
				}
				@media screen and (max-width: #{$screen-sm-num - 1}px) {
					display: none;
				}
			}
			.prev{
				// @include Item(207, 45, -22.5, 0, 42, 0, 1024);
				// margin-top: -22.5px;
				left: 42px;
				top: 50%;
				top: 50vh;
				z-index: 4;
			}
			.share{
				// @include Item(246, 117, 0, 22, 0, 34, 1024);
				position: absolute;
				width: 246px;
				right: 34px;
				bottom: 22px;
				z-index: 4;
				opacity: 0;
				height: 0;
				transition: height 0s linear 0.35s, opacity 0.35s linear 0s;
				a,img{
					width: 100%;
					// @include SubItem();
				}
				@media screen and (max-width: #{$screen-sm-num - 1}px) {
					@include Item(116, 77, 0, 13, 101, 0, 320);
					z-index: 10;
					opacity: 1;
					aside, img{
						color: #7b4e4d;
						@include SubItem();
						span{
							margin-top: -1em;
							max-width: 96%;
						}
					}
					a{
						@include SubItem();
					}
					img{
						height: auto;
					}
				}
			}
			.poster{
				@include SubItem();
				// background: url(../img/background/kv.png) center/ cover;
				transition-duration: 0.25s;
				z-index: 3;
				@media screen and (max-width: #{$screen-sm-num - 1}px) {
					// background: url(../img/background/kv@320.png) center / cover;
				}
				&:after{
					background-image: url(../img/background/pause.png);
					@include animation(
						pause 0.25s 1 linear forwards
					);
				}
				background-size: cover;
				background-repeat: no-repeat;
				background-position: right center;
				&.kv-1{
					// @include Item(391, 223, -50, 0, 42, 0, 1024);
					position: absolute;
					width: 391px;
					height: 223px;
					margin-top: per(-50, 1024);
					margin-left: per(42, 1024);
					top: 50%;
					top: 50vh;
					z-index: 3;
					@media screen and (max-width: #{$screen-sm-num - 1}px) {
						background-size: cover;
						background-repeat: no-repeat;
						width: per(262, 320);
						padding-top: per(133, 320);
						height: 0;
						top: 50vh;
						top: 50%;
						margin-top: per(16, 320);
						margin-left: per(16, 320);
					}
				}
			}
			&:before{
				@include SubItem();
				position: absolute;
				content: '';
				background: url(../img/background/grid.png) 0 0/ 20px auto;
				opacity: 1;
				z-index: 3;
			}

			&:after{
				@include SubItem();
				position: absolute;
				content: '';
				background: url(../img/background/play.png) center no-repeat;
				opacity: 1;
				z-index: 3;
				@media screen and (max-width: #{$screen-sm-num - 1}px) {
					background: url(../img/background/play@320.png) center calc(50% - 26px)/42px 42px no-repeat;
				}
			}
			&.playing,&.paused{
				&:after{
					opacity: 1;
				}
				.poster{
					opacity: 0;
				}

			}
			&.playing{
				&:after{
					background-image: url(../img/background/play.png);
					@include animation(
						play 0.25s 1 linear forwards
					);
				}
			}
			&.paused{
				&:after{
					background-image: url(../img/background/pause.png);
					@include animation(
						pause 0.25s 1 linear forwards
					);
				}
			}


			&.mousemove{
				.share{
					@media screen and (min-width: #{$screen-sm-num}px) {
						opacity: 1;
						height: 117px;
						transition: height 0s linear 0s, opacity 0.45s linear 0s;
					}
				}
				.next{
					opacity: 1;
					transition: height 0s linear 0s, opacity 0.45s linear 0s;
				}
				.prev{
					opacity: 1;
					transition: height 0s linear 0s, opacity 0.45s linear 0s;
				}
			}
		}
	}

	.slick-list, .slick-track{
		height: 100%;
	}
}
.sky-background{
	background: url(../img/background/background.jpg) 0 0/ 100% auto;
	@include SubItem();
	// position: fixed;
	left: -1%;
	width: 101%;
	z-index: 2;
	min-height: 100%;
	min-height: 100vh;
	@media screen and (max-width: #{$screen-sm-num - 1}px) {
		background-image: url(../img/background/background@320.jpg)
	}
}

@include keyframes( play )
{
    0% {
		transform: scale(1);
		opacity: 1;
    }
    99% {
		transform: scale(1.2);
		opacity: 0;
    }
    100% {
		transform: scale(1.2);
		opacity: 0;
		background: url(../img/background/pause.png) center no-repeat;
    }
}
@include keyframes( pause )
{
    0% {
		transform: scale(1.2);
		opacity: 0;
    }
    100% {
		transform: scale(1);
		opacity: 1;
    }
}