.form-page{

	width: 705px;
	background: url(../img/form/background.png);
	color: #fff;
	padding: 50px 100px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 75px;

	@media screen and (max-width: #{$screen-sm-num - 1}px) {
		position: relative;
		width: per(280, 320);
		padding: per(41, 320) per(28, 320) per(125, 320);
		margin: per(10, 320) auto 0;
		background: url(../img/form/background@320.png) center top/ 100% 100% no-repeat;
	}
	@media screen and (min-width: #{$screen-sm-num}px) {
		// transform: scale(0.8);
		transform: scale(0.9);
		transform-origin: center bottom 1px;
		margin-top: -12em;
		margin-top: -6em;
	}

	h3{
		color: #ff6795;
		@media screen and (max-width: #{$screen-sm-num - 1}px) {
		}
	}

	form{
		position: relative;
		z-index: 3;
		span{
			white-space: nowrap;
			color: #844e58;
			font-weight: 600;
		}
		input,select,
		textarea{
			width: 100%;
			color: #333;
			font-weight: 400;
			border-radius: em(5, 14);
			border: 1px solid #c6c6c6;
			font-family: 'microsoft jhenghei', 'segoe ui', 'verdana', 'arial', 'tahoma';
			padding: 0 0.5em;
			option{
				padding: 0;
			}
		}
		textarea{
			height: 5em;
			resize: none;
			padding: 0.1em 0.5em;
		}
		label{
			white-space: normal;
			color: #656565;
			font-weight: 300;
			max-width: 330px;
			@media screen and (max-width: #{$screen-sm-num - 1}px) {
				padding-left: 1em;
				max-width: none;
			}
		}

		.zip{
			>*{
				color: #333;
				display: block;
				margin-bottom: 1em;
			}
		}

		@for $i from 1 to 13 {
			.col-xs-#{$i}{
				padding: 0;
			}
		}
		a{
			z-index: 1;
			position: relative;
			@media screen and (max-width: #{$screen-sm-num - 1}px) {
				display: inline-block;
				max-width: per(119, 224);
				margin-bottom: per(35, 224);
				margin-top: per(-5, 224);
				img{
					max-width: 100%;
				}
			}
		}
	}

	.jojo{
		position: absolute;
		// margin-left: 47px;
		// left: 50%;
		bottom: 0;
		height: 337px;
		width: auto;
		right: -140px;
		bottom: 0;
		@media screen and (max-width: #{$screen-sm-num - 1}px) {
			left: per(20, 320);
			bottom: em(-75);
		}
		img{
			width: auto;
			height: 100%;
		}
	}

	.close{
		position: absolute;
		top: 28px;
		right: 20px;
		opacity: 0.8;
		transition-duration: 0.25s;
		&:hover{
			opacity: 1;
		}
		@media screen and (max-width: #{$screen-sm-num - 1}px) {
			@include Item(25, 25, 9, 0, 0, 11, 280);
			img{
				@include SubItem();
				height: auto;
			}
		}
	}
}
