.home-page{
	width: 100%;
	position: relative;
	min-height: 100%;
	margin-top: 240px;
	margin-top: 113px;
	height: auto;
	background: url(../img/home/background-head.png) center 5px/ 876px auto no-repeat;

	.container{
		width: 876px;
		// margin-bottom: 200px;
		position: relative;
		// padding-bottom: 65px;
	}

	figure{
		&.smooth{
			@include Item(254, 196, 285, 0, 30, 0, 876);
			img{
				@include SubItem();
			}
		}
		&.tempon{
			@include Item(569, 390, 180, 0, 298, 0, 876);
			img{
				@include SubItem();
			}
		}
	}

	.part1{
		height: 910px;
		margin-left: -15px;
		margin-right: -15px;

		.title{
			margin-top: -113px;
		}

		.features{
			margin-left: 15px;
		}

		.ps{
			color: #e84091;
			top:0;
			left:0;
			margin: 497px 0 0 61px;
			position: absolute;
			li{
				list-style: none;
			}
		}

		.subtitle{
			@include Item(0, 25, 583, 0, 88, 0, 876);
			white-space: nowrap;
			span{
				color: #00388a;
				border-left: 5px solid currentColor;
				line-height: 25px;
				padding-left: 5px;
				@include SubItem();
			}
		}

		.products{
			// position: relative;
			z-index: 3;

			figure{
				&:nth-child(1){
					@include Item(222, 164, 633, 0, 81, 0, 876);
					span{
						&:nth-child(1){
							@include Item(95, 104, 16, 0, 8, 0, 222);
						}
						&:nth-child(2){
							@include Item(104, 120, 1, 0, 118, 0, 222);
						}
					}
				}
				&:nth-child(2){
					@include Item(119, 141, 656, 0, 349, 0, 876);
					span{
						@include Item(119, 99, 1, 0, 1, 0, 119);
					}
				}
				&:nth-child(3){
					@include Item(249, 145, 649, 0, 524, 0, 876);
					span{
						&:nth-child(1){
							@include Item(110, 103, 1, 0, 1, 0, 249);
						}
						&:nth-child(2){
							@include Item(127, 101, 1, 0, 122, 0, 249);
						}
					}
				}

				figcaption{
					width: 100%;
					position:absolute;
					bottom: 0;
					color: #00388b;
					line-height: 1.2;
					b{
						display: block;
					}
				}
				span{
					img {
						@include SubItem();
					}
				}
			}
		}
	}

	.part2{
		height: 1156px;
		position: relative;
		background: url(../img/home/part2.png) no-repeat;
    	margin: 45px -25px 0;

		.description{
			color: #844e58;
			line-height: 1.6;
			letter-spacing: 0.1em;
			@include Item(505, 148, 98, 0, 325, 0, 850);
			span{
				@include SubItem();
			}
		}
		.qrcode{
			@include Item(146, 149, 310, 0, 366, 0, 876);
			figcaption{
				@include SubItem();
				color: #844e58;
			}
			span{
				@include Item(95, 94, 57, 0, 26, 0, 146);
				img{
					@include SubItem();
				}
			}

		}
		.print{
			@include Item(112, 20, 418, 0, 646, 0, 876);
			span{
				color: #844e58;
				@include SubItem();
			}

		}

		.pchome{
			@include Item(259, 82, 594, 0, 159, 0, 876);
			img{
				@include SubItem();
			}
		}

		.watsons{
			@include Item(259, 82, 594, 0, 475, 0, 876);
			img{
				@include SubItem();
			}
		}

		.tvc{
			@include Item(746, 461, 701, 0, 70, 0, 896);
			background: url(../img/home/tvc-bg.png) center/ 100%;
			.tvc-video{
				@include Item(558, 307, 110, 0, 110, 0, 746);
				// cursor: pointer;
				// &:before{
				// 	content: '';
				// 	@include SubItem();
				// 	background: url(https://i.ytimg.com/vi/KqlGAw6Bs-w/maxresdefault.jpg) center/ cover;
				// 	z-index: 1;
				// 	transition-duration: 0.25s;
				// }
				// &:after{
				// 	content: '';
				// 	@include Item(49, 49, 130, 0, 250, 0, 558);
				// 	background: url(../img/background/play.png) center/ cover no-repeat;
				// 	z-index: 1;
				// }

				// &.playing,&.paused{
				// 	&:after{
				// 		opacity: 1;
				// 	}
				// 	&:before{
				// 		opacity: 0;
				// 	}

				// }
				// &.playing{
				// 	&:after{
				// 		background-image: url(../img/background/play.png);
				// 		@include animation(
				// 			play 0.25s 1 linear forwards
				// 		);
				// 	}
				// }
				// &.paused{
				// 	&:after{
				// 		background-image: url(../img/background/pause.png);
				// 		@include animation(
				// 			pause 0.25s 1 linear forwards
				// 		);
				// 	}
				// }
			}
			iframe{
				@include SubItem();
			}
		}
	}


	.part3{
		position: relative;
		.background{
			margin-left: -15px;
			margin-top: 84px;
			position: absolute;
			top: 0;
			left: 0;
		}
		.twe{
			@include Item(375, 158, 1, 0, 18, 0, 846);
			img{
				@include SubItem();
			}
		}
		.cup{
			@include Item(155, 185, -32, 0, 0, 0, 846);
			z-index: 5;
			img{
				@include SubItem();
			}
		}
		.guide{
			@include Item(191, 66, 165, 0, 18, 0, 846);
			z-index: 5;
			img{
				@include SubItem();
			}
		}

		.bloggers{
			margin: 0 50px;
			padding: 232px 0 0;
			li{
				padding: 0 23px 40px;
				list-style: none;
				color: #713c46;
				a{
					color: #713c46;
					&:hover{
						.profile-picture{
							>img{
								transition-duration: 0.25s;
								@include animation(
									blossom 3s 1 linear forwards
								);
							}
						}
						i{
							transform: translateX(0.25em);
						}
					}
				}
				span{
					color: inherit;
					line-height: 0.5em;
					i{
						font-size: 50%;
						margin-left: 0.5em;
						line-height: 0.1em;
						transition-duration: 0.25s;
						&+i{
							transition-delay: 0.1s;
							margin-left: 0;
						}
					}
				}
				h3,p{
					position: relative;
					span{
						position: relative;
						span{
							position: relative;
							z-index: 1;
						}
					}
				}
				h3{
					>span:before{
						position: absolute;	
						bottom: 0;
						width: 135px;
						height: 20px;
						background: url(../img/home/brush-pink.png) no-repeat;
						content:'';
						margin-left: calc(50% - 60px);
					}
				}
				p{
					margin-bottom: 5px;
					>span:before{
						position: absolute;	
						bottom: 0;
						width: 171px;
						height: 20px;
						background: url(../img/home/brush-yellow.png) no-repeat;
						content:'';
						margin-left: calc(50% - 85px);
					}
				}
			}

			.profile-picture{
				width: 213px;
				height: 212px;
				position: relative;
				>img{
					@include animation(
						blossom-2 0.4s 1 linear forwards
					);
				}
				span{
					position: absolute;
					top:24px;
					left:26px;
					width: 163px;
					height: 162px;
					border-radius: 50%;

					img{
						border-radius: 50%;
						@include SubItem();
					}
				}
			}
		}
	}


	.part4{
		position: relative;

		.background{
			margin-left: 7px;
			margin-top: 17px;
			position: absolute;
			top: 0;
			left: 0;
		}
		.guide{
			@include Item(191, 67, 1, 0, 18, 0, 846);
			z-index: 5;
			img{
				@include SubItem();
			}
		}

		.girls{
			padding: 60px 25px 0;
			margin: 0 -15px;
			li{
				padding: 0 25px 25px;
				list-style: none;
			}
			.profile-picture{
				width: 174px;
				height: 174px;
				position: relative;
				span{
					position: absolute;
					top: 6px;
					left: 6px;
					width: 164px;
					height: 164px;
					border-radius: 50%;

					img{
						border-radius: 50%;
						@include SubItem();
					}
				}
			}

			.bubble{
				width: 209px;
				height: 87px;
				top: 75px;
				right: 25px;
				position: absolute;
				z-index: 5;
				color: #713c46;
				img{
					@include SubItem();
				}
				h3{
					white-space: nowrap;
					position: relative;
					margin-top: -20px;
					margin-left: 75px;

					>span:before{
						position: absolute;	
						bottom: 0;
						width: 135px;
						height: 20px;
						background: url(../img/home/brush-blue.png) no-repeat;
						content:'';
						margin-left: calc(50% - 60px);
					}
					span{
						position: relative;
						span{
							position: relative;
							z-index: 1;
						}
					}
					sub{
						bottom: 0.08em;
					}
				}
				p{
					margin-left: 37px;
					line-height: 1.1;
					position: relative;	
					white-space: nowrap;
				}
			}
		}

		.more{
			margin-top: 15px;
			display: block;
			position: relative;
			display: inline-block;
		}
	}

	.butt{
		height: 200px;
		margin-top: 65px;
		.gotop{
			background: #dc92b6;
			border-radius: 50%;
			color: #fff;
			width: 85px;
			height: 85px;
			line-height: 0.6;
			span{
				display: inline-block;
				font-weight: 500;
				line-height: 4px;
				margin-top: 18px;
				text-indent: -5px;
			}
		}
	}

}
.content{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 130px;
	height: calc(100vw - 130px);
	height: calc(100% - 130px);
	z-index: 2;
	.rib1, .rib2{
		position: absolute;
		// width: 100%;
		left: calc((100% - 1024px) / 2 );
		top: 719px;
		// height: 200px;
		z-index: 2;
		// img {
		// 	@include SubItem();
		// }
	}
	.rib2{
		top: 1990px;
	}
	article{
		-webkit-overflow-scrolling: touch;
		height: 100%;
		overflow-y: auto;
	}
}

@include keyframes( blossom )
{
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(120deg);
    }
}


@include keyframes( blossom-2 )
{
    0% {
    	opacity: 0.3;
        transform: rotateZ(-75deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}
